
#app {
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0px;
    padding:50px;
    width:100%;
    max-height:600px;
    max-width:1000px;
    margin: 0 auto;
  }

  .box {
      width:10px;
      height:10px;
      margin-left:2px;
      margin-right:2px;
      background-color:#d3d3d3;
      display:inline-block;
  }


  .box-text {
    width:10px;
    height:10px;
    margin-left:2px;
    margin-right:2px;
    display:inline-block;
    font-size:8px;
  }

  .key {
      display: inline-block;
      width:100%;
  }

  .entry {
      display:inline-block;
  }


  .boxes {
    padding-left:3px;
  }

  .name {
      text-align:right;
      display:inline-block;
      font-size:10px;
      margin: auto;
      padding-right:0px;

  }

  .day-name {
    text-align:right;
    display:inline-block;
    font-size:8px;
    margin: auto;
    padding-right:0px;

}

  div.box.end.compliant, .box.compliant {
      background-color:rgb(50, 148, 128);
  }
  div.box.end, .box.end {
      background-color:#B03A2E;
  }

  .main {
      flex:center;
  }

  #viz {
      margin-left:25%;
  }

  .data-entry {
      text-align:left;
  }

  .body {
      height:900px;
  }